.wordbook_header_wrap {
  display: flex;
  background-color: #03c75a;
  min-height: 25vh;
  position: -webkit-sticky;
  align-items: flex-end;
  top: 0;
  font-size: 14px;
  color: white;
}

.wordbook_nav {
  padding: 20px;
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.wordlist_wrap {
  height: 100%;
  display: flex;
  justify-content: center;
}

.wordlist_stack {
  width: 1000px;
  display: inline-block;
  justify-content: center;
  align-items: flex-start;
  padding: 40px;
  margin-top: 30px;
}

.accordion_area {
  display: flex;
  justify-content: center;
}

.accordion_card {
  width: 800px;
}

.card-header {
  display: inline-block;
  justify-content: center;
}

.card-body {
  padding: 40px !important;
}

.my-sentences {
  margin-left: 10px;
}

.toggle_section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.accordion_items {
  display: flex;
  justify-content: space-around;
}

.modal_btn_section {
  width: 100px;
  display: flex;
  justify-content: flex-end;
}

.word_btn {
  border: 0;
  outline: 0;
  text-decoration: none;
}

.edit_word_btn {
  background-color: #11ffee00;
}

.delete_word_btn {
  margin-left: 20px;
  cursor: pointer;
  border: none;
  outline: none;
  background-color: #11ffee00;
  text-decoration: none;
}

.sentences-section {
  border-bottom: 1px solid gainsboro;
  color: #222222;
}

.pagination_wrap {
  display: flex;
  justify-content: center;
  height: 10vh;
}

.pagination {
  display: flex;
}

.pagination a {
  float: left;
  font-size: 1em;
  padding: 5px 12px;
  line-height: 1.5;
}
.wordbook_nav > a {
  color: inherit;
  text-decoration: none;
}

.wordbook_nav > a {
  color: inherit;
  text-decoration: none;
}


.form_search_box{
  position: absolute;
  right: 155px;
  top: 50%;
  transform: translateY(-50%);
}